body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    text-align: center;
    background-image: url('fotos/fondo2.jpg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: contain; /* Ajusta la imagen a su tamaño real */
    min-height: 1300vh; /* Asegura que la página tenga al menos la altura del viewport */
    padding: 10px;
    margin: 0;
    cursor: url('fotos/pie3.png'), auto;
    background-color: rgb(14, 62, 74);
}

h1 {
    color: #000000;
    font-size: 3em;
    margin-bottom: 20px;
}

/* Main Heading Styling */
h2 {
    color: #1e9603;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Paragraph Styling */
p {
    font-size: 1.5em;
    color: #000;
}

.texto-pequeno {
    font-size: 0.8em; 
    margin-top: 0;
    color: #666;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: left;
    padding: 10px 10px; 
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    z-index: 1000; 
    box-sizing: border-box; 
}

.container {
    display: grid;
    align-items: center; 
}
   
img {
     max-width: 70%;
     max-height:70%;
}

.header-container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

#toggleButton {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 50px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 400px); /* Ajusta el tamaño según tus imágenes */
    grid-template-rows: repeat(2, 400px); /* Ajusta el tamaño según tus imágenes */
    justify-items: center; /* centers items horizontally */
    align-items: center; /* centers items vertically */
    gap: 0px; /* Espacio entre imágenes */
}

.grid img {
    width: 650px;
    height: 650px;
    height: auto;
    display: block;
}