/* styles.css */

/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('fotos/fondo.gif');
    padding: 10px;
    margin: 0;
    cursor: url('fotos/nave.png'), auto;
}

/* Main Heading Styling */
h1 {
    color: #36f900;
    font-size: 3em;
    margin-bottom: 20px;
}

/* Main Heading Styling */
h2 {
    color: #b000fc;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Paragraph Styling */
p {
    font-size: 1.5em;
    color: #aaa;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #aaa;
    text-align: left;
    padding: 10px 10px; 
    font-family: Arial, sans-serif;
    z-index: 1000; 
    box-sizing: border-box; 
}

.icono {
    width: 50px; 
    height: 50px; 
    vertical-align: middle;
    margin-right: 10px; 
    margin-left: 10px;
}

.texto-pequeno {
    font-size: 0.8em; 
    color: #666;
}

